<%- include("partials/header.ejs") %>



  <div class="header">
    <h1 class="colored-text">Carrières</span></h1>
  </div>
<!-- End Acceuil navbar and Hamburger Menu -->

<!-- image -->



    <div class="carrieres">
        <img src="assets/image/elementary-school-teacher-requirements-ohio-930x580.jpg" alt="elementary" width="400px">
        <img src="assets/image/avantages.jpg" alt="advantage" width="300px" >
        <img src="assets/image/personneage.webp" alt="personneage" width="400px" height="200px" class="smallimage">
       
    </div>
    <div class="carr_text">
        <h2> La vie chez ASES</h2>
        <p>Nous sommes à la recherche de nouveaux talents pour rejoindre notre équipe dynamique ! 

            Si vous recherchez un lieu de travail où votre santé mentale est une priorité, vous êtes au bon endroit ! Nous prenons le bien-être de notre équipe à coeur et nous sommes à l'écoute de leur besoin. Être épanoui au travail, ça existe ! Travailler auprès de ASES, c'est s'offrir une meilleure qualité de vie professionnelle.</p>
    </div>

    <div class="banners">
        <div class="images-containers">
          <img src="assets/image/coeur.jpeg" alt="smile" class="smiles-images">
        </div>
        <div class="contents-containers">
          <h2 class="banners-titles">Pourquoi vous joindre à nous?</h2>
          <span class="highlight">Paie de vacances : </span>Vous recevrez une paie de vacances équivalente à 4% de votre salaire annuel, vous permettant de profiter pleinement de vos congés.<br>

          <span class="highlight">Congés de maladie payés :</span> Après seulement 3 mois de service, vous aurez droit à 4 jours de congé de maladie payés par an, pour prendre soin de vous en cas de besoin. <br>
            
          <span class="highlight">Congés personnels sans solde :</span> Bénéficiez de 10 jours de congés personnels sans solde par an pour répondre à des obligations familiales ou personnelles. <br>
            
          <span class="highlight">Vacances : </span>Profitez de 3 semaines de vacances dès votre première année, vous offrant un équilibre travail-vie personnelle dès le début. <br>
            
          <span class="highlight">Flexibilité d'horaire :</span>Nous comprenons l'importance de la flexibilité. Nous vous offrons des horaires adaptés à vos besoins pour concilier vie professionnelle et personnelle. <br>
            
          <span class="highlight">Mandats sur mesure : </span>Nous vous proposons des mandats qui correspondent à vos disponibilités et à votre secteur géographique, afin de maximiser votre confort et efficacité. <br>
            
          <span class="highlight">Salaire compétitif : </span>Nous offrons un salaire compétitif, reconnaissant ainsi la valeur et l'expertise que vous apportez à notre entreprise. Rejoignez-nous pour une expérience de travail enrichissante et adaptée à votre style de vie! <br>
            
            </p>
        </div>
      </div>

      <div class="postuler">
        <h2>Postuler dès maintenant en remplissant ce formulaire</h2>
        <a href="./carrieres_formulaire.html" class="hover">Cliquer ici pour appliquer</a>
    </div>

    <!-- /footer -->
    <%- include("partials/footer.ejs") %>