<%- include("partials/header.ejs") %>
<!-- End Acceuil navbar and Hamburger Menu -->

<div class="header">
  <h1 class="colored-text">Ressources</span></h1>
</div>




  <div class="nouscontacter">
    <div class="textcontact">
      <img src="/assets/image/choix 1.jpg" alt="compassion">
      <div class="text-content">
        <ul class="styled-list">
          <li>Besoin de prendre du recul ?</li>
          <li>Besoin de temps pour vous-même ?</li>
          <li>Vous avez des questions sur la meilleure approche à adopter ?</li>
          <li>Vous recherchez des solutions durables ?</li>
        </ul>
        <p>
        La santé mentale englobe les routines quotidiennes, les approches, les techniques et les
        habitudes saines pour prendre soin de soi.
        Contactez-nous pour un soutien personnalisé répondant parfaitement à vos besoins.</p>
        <div class="button-container">
          <a href="mailto:info@ases-pro.com" class="contact-button">Contactez-nous</a>
        </div>
      </div>
    </div>
  </div>
  <div class="recommandation">
    <div class="recommandation_flex">
      <h2>Pourquoi consulter un Éducateur Spécialisé ?</h2>
      <p>
        Il est recommandé de consulter les services d'un éducateur spécialisé lorsque les difficultés
        rencontrées ont un impact significatif sur votre quotidien, vos relations interpersonnelles et
        sociales, ainsi que votre milieu de travail. 
        L'éducateur applique des méthodes visant à encourager l'apprentissage et l'adoption de
        comportements appropriés. Elle observe et analyse le comportement de l'usager, contribue à
        évaluer ses besoins et capacités. Une trace constante de son évolution est confidentiellement
        maintenue dans le dossier client. Elle supervise également le processus de réadaptation
        intensive pour faciliter la progression des clients.
        Si vous ou l'un de vos proches êtes confrontés à des défis qui affectent ces aspects de votre vie,
        envisager les services d'un éducateur spécialisé pourrait être bénéfique.</p>
    </div>
  </div>
  <div class="role">
    <div class="role_flex">
      <h2>Rôle de l'Éducateur Spécialisé</h2>
    </div>
  </div>
  <div class="ressource">
    <div class="ressource_grid">
      <div class="ressource_content">
        <img src="/assets/image/educateur-specialise-850.jpg" width="400px" alt="aide a domicile">
        
            <h3>Qualifications</h3>
            <p>
                <span>Authenticité : S'appuie sur ses connaissances, recherches, documentation et des faits réels.</span>
                <span>Adaptabilité à chaque milieu.</span>
                <span>Recherche d'informations lorsque confronté à un sujet inconnu.</span>
                <span>Engagement dans une formation continue constante.</span>
                <span>Spontanéité : Développe rapidement des idées créatives.</span>
                <span>Spontanéité : Développe rapidement des idées créatives.</span>
                <span>Communication claire : S'exprime avec un vocabulaire adapté à l'interlocuteur, explique
                  clairement les actions entreprises.</span>
                <span>Créativité : Invente des outils avec les moyens disponibles.</span>  
                <h3>Ne peux pas :</h3>
                <span>Évaluer <br></span>
                <span>Faire un diagnostic<br></span> 
                <span>Veuillez consulter la loi 21 pour plus d'informations. <br></span>
            </p>
        </div>
        <div class="ressource_content">
          <img src="/assets/image/femme-enseignante-classe_23-2151696369.jpg.avif" alt="aide a domicile">
              <h3>Extrait du Code de Déontologie - Septembre 2021 ASEEQ</h3>
              <p>
                <span>L'éducateur spécialisé appelé à travailler avec un autre éducateur
                spécialisé ou avec une autre personne préserve son indépendance
                professionnelle. Si on lui confie une tâche contraire à sa conscience
                professionnelle, il s'en dispense et il en avise par écrit son supérieur
                immédiat.<a href="https://cdn.ca.yapla.com/company/CPYkUKqkUKNkTgn3ok733k7c/asset/files/Code%20de%20Déontologie%20-%20Septembre%202021.pdf" target="_blank"> Article 2.1.5</a></span><br>
                
                <span>L'éducateur spécialisé doit éviter toute fausse représentation quant
                à son niveau de compétence ou à l'efficacité de ses propres services et de
                ceux généralement assurés par les membres de sa profession. <a href="https://cdn.ca.yapla.com/company/CPYkUKqkUKNkTgn3ok733k7c/asset/files/Code%20de%20Déontologie%20-%20Septembre%202021.pdf" target="_blank">Article 4.2.2</a></span><br>
                
                <span>L'éducateur spécialisé ne doit donner des avis à son client que s'il
                possède les informations professionnelles et scientifiques suffisantes. <br><a href="https://cdn.ca.yapla.com/company/CPYkUKqkUKNkTgn3ok733k7c/asset/files/Code%20de%20Déontologie%20-%20Septembre%202021.pdf" target="_blank">Article 4.2.3</a></span><br>
                
                <span>L'éducateur spécialisé doit apporter un soin raisonnable aux biens
                confiés à sa garde par un client et il ne peut prêter ou utiliser ceux-ci pour
                des fins autres que celles pour lesquelles ils lui ont été confiés. <a href="https://cdn.ca.yapla.com/company/CPYkUKqkUKNkTgn3ok733k7c/asset/files/Code%20de%20Déontologie%20-%20Septembre%202021.pdf" target="_blank">Article 4.2.4</a></span><br>
            </p>
          </div>
    </div>
  </div>

  <div class="header">
    <p class="main-description">Lectures essentielles pour vous guider<br>
      <p> Précurseur du langage chez l'enfant:
        <a href=" https://www.educatout.com/activites/stimulation-langage/les-precurseurs-du-langage-chez-l-enfant.htm" target="_blank">Lire l'article</a><br>
       </p>
       <p> Développement de la communication chez l'enfant de 0 à 6 ans | OOAQ:
        <a href="https://www.ooaq.qc.ca/consulter/developpement-communication-enfant/#:~:text=comprend%20des%20consignes%20simples%20appuyées,cri%20d'un%20animal" target="_blank">Lire l'article</a><br>
       </p>
       <p> La motricité globale de 0 à 8 ans en un coup d'œil :
        <a href="https://naitreetgrandir.com/fr/etape/1_3_ans/developpement/la-motricite-etapes-developpement/" target="_blank">Lire l'article</a><br>
       </p>
       <p> Apprentissage de la propreté :
        <a href="https://naitreetgrandir.com/fr/etape/1_3_ans/soins/naitre-grandir-enfant-apprentissage-proprete-couche-petit-pot/" target="_blank">Lire l'article</a><br>
       </p>
       <p> Apprendre à l'enfant à gérer ses émotions :
        <a href="https://naitreetgrandir.com/fr/etape/1_3_ans/comportement/ik-naitre-grandir-enfant-apprendre-maitriser-emotion/" target="_blank">Lire l'article</a><br>
       </p>
       <p> La Régulation émotionnelle :  
        <a href="https://psychologista.fr/regulation-emotionnelle-apprendre-a-gerer-ses-emotions#:~:text=Il%20est%20important%20de%20pouvoir%20r%C3%A9guler%20ses%20%C3%A9motions%2C,fait%2C%20la%20r%C3%A9gulation%20%C3%A9motionnelle%20peut%20influencer%20le%20comportement." target="_blank">Lire l'article</a><br>
       </p>
       <p> Le Développement personnel:  
        <a href="https://www.passeportsante.net/fr/psychologie/Fiche.aspx?doc=developpement-personnel" target="_blank">Lire l'article</a><br>
       </p>

      </p>
  </div>
 
<!-- /footer -->
<%- include("partials/footer.ejs") %>