<%- include("partials/header.ejs") %>
<!-- End Acceuil navbar and Hamburger Menu -->

<!-- image -->
<div class="header">
  <h1 class="colored-text">Tarification</span></h1>
</div>


<div class="price">
<table class="pricing-table">
    <tr>
        <th>Service</th>
        <th>Prix </th>
       
    </tr>
    <tr>
        <td>Frais ouverture dossier</td>
        <td class="price">60 $</td>
        
    </tr>
    <tr>
        <td>Taux horaire</td>
        <td class="price">65 $ / h</td>
        
    </tr>
    <tr>
        <td>Forfait bloc 3h et plus</td>
        <td class="price">57 $ / h</td>
        
    </tr>
    <tr>
        <td>Forfait 30 hres et plus</td>
        <td class="price">54 $ / h </td>
    
    </tr>
</table>

<div class="header">
  <p class="main-description">Les taxes ne sont pas incluses dans le prix. <br>
    Une facture sera émise pour chaque service reçu et pourra être utilisée pour fin d’impôt s’il y a lieu.
    </p>
</div>
<div class="payment-logos">
    <img src="/assets/image/visa.JPG" alt="Visa" class="payment-logo">
    <img src="/assets/image/Mastercard.png" alt="Mastercard" class="payment-logo">
    <img src="/assets/image/interac.jpg" alt="Interac" class="payment-logo">
    <img src="/assets/image/Square,_Inc_-_Square_Logo.jpg" alt="Interac" class="payment-logo">
</div>
</div>
<div class="demande">
</div>

<div class="nouschoisis">
  <img src="/assets/image/image0.png" height="500px" width="600px" alt="pourquoi">
  <div class="imagetext">

  <h2>Pourquoi nous choisir ?</h2>
  <ul class="animated-list" >
      <li>Maintien de la confidentialité</li>
      <li>Suivi de près avec tenue de dossier</li>
      <li>Communication fluide (présentiel, courriel, téléphone et Vidéoconférence)</li>
      <li>Prise en compte des attentes du client</li>
      <li>Des éducateurs Membre de l'AEESQ (Association des éducateurs et éducatrices du Quebec)
          <br> <img src="/assets/image/logo-aeesq-couleur-01-2018-10-15-emhhPlddlqrEpha5Nll4mcVW.jpg" width="60px" alt="Logo AEESQ">
      </li>
      <li>Une équipe en formation continue (conférence, séminaire, documentation)</li>
      <li>Évaluation de la satisfaction du client</li>
      <li>Utilisation de la méthode SMART pour élaborer le plan d'action.</li>
  </ul>
</div>
</div>


 
<!-- /footer -->
<%- include("partials/footer.ejs") %>
</html>